*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
body{
    background: #0c0c0c;
    /*font-family: 'Open  Sans', sans-serif;*/
}
             /*     header       */
#header {
    background: linear-gradient(180deg, rgb(35, 35, 32) -41.9%, #171716 260.24%);
    /*opacity: 0.02;*/
    /*backdrop-filter: blur(100px);*/
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    animation: 2s alternate animasy;
}
/*infinite*/
/*alternate*/
.img{
    /*animation: 2s infinite animasy ;*/
}

@keyframes animasy {
    0%{
        transform: translateY(-200px);
        /*opacity: 0;*/
    }
    40%{
        transform: scale(.8);
    }
    80% {
        transform: scale(1.1);
    }
    100%{
 transform: scale(1);
    }
}
.navbar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo h3{
    padding:15px 156px 0 15px;
    font-weight: 600;
    font-size: 22.5455px;
    line-height: 31px;
    color: #3A68B8;
}
.navbar-nav a{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    padding: 0 20px;
    transition: .4s;
}
.navbar-nav a:hover{
    color: #226aef;
    transform: translateX(10px);
    text-decoration: underline;
}
.navbar button{
    font-weight: 600;
    border-radius: 5px;
    background: #3A68B8;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    padding: 15px 30px 13px 30px;
    margin:  0 0 0 155px;
    transition: .4s;
}
.navbar button:hover{
    color: #226aef;
    background: #ffffff;
    border: 1px #3A68B8 solid;
    transform: scale(1.1);
    cursor: pointer;
}
                           /*section #hero*/
#hero {
    background: #0e0808;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 115px 0 0 0;
}
.hero-block h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}
.hero-block p{
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    padding:0  0 50px 0;
}
.hero-block h1{
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 10px 0 40px 0;
}
.hero-block button{
    background: #3A68B8;
    border-radius: 5px;
    border: none;
}
.hero-btn2{
    display: flex;
}
.btn1{
    padding: 15px 30px;
    margin-right:20px ;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: .4s;
}
.btn1:hover{
    color: #5775ef;
    background: #ffffff;
    border: aqua;
    transform: scale(1.1);
}
.btn2{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    transition: .4s;
    padding: 15px 40px 15px 40px;
}
.btn2:hover{
    color: #5775ef;
    background: #ffffff;
    border: aqua;
    transform: scale(1.1);
}
.hero-hero2{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 89px  0 0 0;
}
.hero-hero2 div{
    margin-right: 75px;
}
.contact{
    display: flex;
    justify-content:space-between;
    /*align-items: center;*/
    padding: 220px 0 0 0;
}
.contact-block h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 100px 0 0 0;
}
.contact-block p{
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;;
    padding: 33px 0 55px 0;
}
.contact-block button{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background: #3A68B8;
    border-radius: 5px;
    padding: 15px 30px;
    color: #FFFFFF;
    transition: .4s;
}
.contact-block button:hover{
    background: #ffffff;
    color: #5775ef;
    border: #5775ef 1px solid;
    transform: scale(1.1);
}
.contact2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 266px  0 0 0;
}
.contact2-block {
    text-align: center;
    padding: 36px 0 0 0;
}
.contact2-block h2{
    padding: 36px 0 36px 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    color: #FFFFFF;
    opacity: 0.7;
    /*font-family: sans-serif;*/
    /*font-style: italic;*/
}
.contact2-block p{
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}
.contact2-block{
    width: 312px;
    height: 378px;
    background: #181818;
    border-radius: 5px;
}
                   /*  section clents*/
.clents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 129px 0 0 0 ;
}
.clents-text h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #ffffff;
    padding: 0 0 38px 0;
}
.clents-text p{
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    opacity: 0.7;
    padding: 0 0 19px 0;
}

                    /*footer*/
.icon{
    display: flex;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    padding: 96px 0 0 0;
}
.icons4 a{
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.icon-block{
    display: flex;
}
.icon ion-icon{
    color: white;
    padding: 0 10px 10px 0;
}
.icon-block div ion-icon{
    color: white;
    padding: 0 10px 0 0;
}
.blocks1{
    padding: 8px 0 9px 0;
    font-weight: 600;
    font-size: 15.9627px;
    line-height: 22px;
    color: #3A68B8;
}
.blocks {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    padding: 0 0 35px 0;
}
.icon p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0 0 19px 0;
}
.icons4 h1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 30px 0;
}
.icons4 p{
    padding: 0 0 28px 0;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
}
.icon-block div{
    padding: 20px 10px 0 0;
}
.icons h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 30px 0;
}
.icons p {
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;
    padding: 5px 0 19px 0;
    opacity: 0.6;
}